/* Challenge Project: Build a Website Design System */

* {
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: #eef0e5;
    color: #0d1317;
    position: relative;
    max-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Styles */
nav {
    overflow: hidden;
    background-color: #f3f3f3;
    font-size: 20px;
}

nav a {
    color: #333;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #4f6f52;
    color: #EEF0E5;
}

header h1 {
    font-family: 'Playfair Display', serif;
    font-size:  4em;
    padding: 20px;
    margin: 50px;
    color: #739072;
    text-align: center;
    text-shadow: 1px 1px #163020;
}

/* details containers */
.details {
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    background-color: #f3f3f3;
    border-radius: 10px;
    border-bottom: 2px solid #4f6f52;
    padding: 20px;
}

.details h2 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 2em;
    font-style: italic;
}

/* Column Styles */
.column {
    float: left;
    width: 33.3%;
    flex-flow: column;
}

/* Clear floats after the columns */
.details::after {
    content: "";
    display: table;
    clear: both;
}

/* Color Styles */
#color1 {
    background-color: #163020;
    color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color2 {
    background-color: #034D30;
    color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color3 {
    background-color: #4f6f52;
    color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color4 {
    background-color: #739072;
    color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color5 {
    background-color: #86A789;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color6 {
    background-color: #D2E3C8;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color7 {
    background-color: #EEF0E5;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color8 {
    background-color: #B6C4B6 ;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color9 {
    background-color: #333;
    color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

#color10 {
    background-color: #f3f3f3;
    text-align: center;
    margin: auto 10px;
    font-size: 18px;
    position: relative;
}

/* Font Styles */
#font1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

#font2 {
    font-family: 'Cormorant', serif;
    font-size: 18px;
    
}

#font3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

/* Text Styles */
#style1 h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 4em;
}

#style2 {
    padding-top: 50px;
}

#style2 h2 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 2em;
    font-style: italic;
}

#style3 {
    padding-top: 55px;
}

#style3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1em;
}

/* Media query to make layout responsive */
/* Makes 3 columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/* Media query to make navigation bar responsive */
@media screen and (max-width: 600px) {
    nav a {
        float: none;
        display: block;
        position: relative;
    }
}
